<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>YAAW for Chrome Settings</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
    <link href="yaaw/img/favicon.ico" rel="shortcut icon" type="image/ico" />
    <link href="yaaw/css/bootstrap.min.css" rel="stylesheet" />
    <link href="yaaw/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="css/options.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <nav class="navbar">
          <div class="container">
            <div class="logo"></div>
          </div>
      </nav>
      <div class="container">
        <div class="form-horizontal">
          <fieldset>
            <legend>
              <span>YAAW for Chrome Settings</span>
              <span class="config-saved">Config updated successfully</span>
            </legend>
            <div class="control-group">
              <label class="control-label" for="contextMenus">右键菜单</label>
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" id="contextMenus" v-model="isContextMenus">
                  选中即可开启右键菜单
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="syncConfig">配置同步</label>
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" id="syncConfig" v-model="isSync">
                  多设备自动云同步
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="interception">下载拦截</label>
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" id="interception" v-model="isInterception" class="interception">
                  文件下载会被导入到Aria2c &nbsp;&nbsp;&nbsp;  文件大小 &gt;=
                  <input type="text" class="input-small"  placeholder="File Size" v-model="fileSize">
                  （单位：M）
                </label>
              </div>
            </div>
            <div class="control-group" v-for="(rpc, index) in rpcLists">
              <div class="control-group-inner">
                <input type="text" class="input-small" placeholder="RPC Name" v-model="rpc.name">
              </div>
              <div class="controls">
                <input type="text" class="input-xlarge" placeholder="RPC Path" v-model="rpc.path">
                <button class="btn btn-rpc" @click="addRPCForm" v-if="index === 0">Add RPC</button>
                <button class="btn btn-rpc btn-danger" @click="removeRPC(index)" v-else>Remove RPC</button>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="whitelist">网站白名单</label>
              <div class="controls">
                <textarea rows="6" id="whitelist" v-model="whitelist"></textarea>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="blocklist">网站黑名单</label>
              <div class="controls">
                <textarea rows="6" id="blocklist" v-model="blocklist"></textarea>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
            <div class="modal-footer">
              <div class="copyright">© Copyright <a href="https://github.com/acgotaku/YAAW-for-Chrome" target="_blank">雪月秋水</a></div>
              <button type="btn" class="btn btn-success" @click="save">Save</button>
              <button class="btn" @click="clear">Reset</button>
            </div>
        </div>
      </footer>
    </div>
    <script src="yaaw/js/jquery-1.7.2.min.js"></script>
    <script src="yaaw/js/bootstrap.min.js"></script>
    <script src="js/options.js"></script>
  </body>
</html>
<!-- vim: set et sw=2 ts=2 sts=2 ff=unix fenc=utf8: -->
